+ 读取全部数据；
+ 对于 model 项为空的进行填充
+ 根据时间切分时间窗口（尝试先切分窗口，再进行汇总）

读取数据

In [3]:
import pandas  as pd 
import numpy as np
#定义读取数据的函数
def read_action_data(address):
    reader = pd.read_csv(address, sep = ',', iterator = True,parse_dates=['time'])
    chunks = []
    loop = True
    i = 1
    while loop:
        try:
            chunk = reader.get_chunk(30000000)
            chunks.append(chunk)
            print (i)
            i += 1
        except StopIteration:
            loop = False
            print ('Iteration is stopped.')
    data = pd.concat(chunks, ignore_index = True)
    print("DONE")
    return data

In [4]:
# 读取2月份数据测试
address02="~/Desktop/dataAnalysis/JDATA/JData/JData_Action_201602.csv"
# address03="~/Desktop/dataAnalysis/JDATA/JData/JData_Action_201603.csv"
# address04="~/Desktop/dataAnalysis/JDATA/JData/JData_Action_201604.csv"
df_02=read_action_data(address02)
# df_03=read_data(address03)
# df_04=read_data(address04)
# df_action=pd.concat([df_02,df_03,df_04],axis=0,ignore_index=True)
# print(df_action.shape)
print(df_02.shape)
df_02.head()

1
Iteration is stopped.
DONE
(11485424, 7)

    user_id  sku_id                time  model_id  type  cate  brand
0  266079.0  138778 2016-01-31 23:59:02       NaN     1     8    403
1  266079.0  138778 2016-01-31 23:59:03       0.0     6     8    403
2  200719.0   61226 2016-01-31 23:59:07       NaN     1     8     30
3  200719.0   61226 2016-01-31 23:59:08       0.0     6     8     30
4  263587.0   72348 2016-01-31 23:59:08       NaN     1     5    159

In [4]:
# check the time column dtype
df_02[["time"]].dtypes

time    datetime64[ns]
dtype: object

In [5]:
# fill and drop the model_id column nan value
df2=df_02.dropna(how='any')
df2.head()

    user_id  sku_id                time  model_id  type  cate  brand
1  266079.0  138778 2016-01-31 23:59:03       0.0     6     8    403
3  200719.0   61226 2016-01-31 23:59:08       0.0     6     8     30
6  296130.0  103126 2016-01-31 23:59:11       0.0     6     4    174
7  296130.0  103126 2016-01-31 23:59:11       0.0     6     4    174
8  217892.0  137328 2016-01-31 23:59:14     111.0     6     6    159

In [5]:
# 时间窗口的选择

df_buy=df_02.ix[df_02["type"]==4,:]
print (df_buy.shape)

# df_buy.groupby(['user_id','sku_id']).count()
# df_02.ix[(df_02['time']<df_buy['time']) & (df_02['user_id']==df_buy['user_id']) & (df_02['sku_id']==df_buy['sku_id']),:]

df_buy.head()

(11485, 7)

       user_id  sku_id                time  model_id  type  cate  brand
351   269365.0  166345 2016-02-01 00:01:00       NaN     4     9    306
649   235443.0   36692 2016-02-01 00:02:00       NaN     4     4    174
980   247689.0    9112 2016-02-01 00:03:00       NaN     4     5     78
1719  273959.0  102034 2016-02-01 00:05:00       NaN     4     5     78
2153  226791.0  163550 2016-02-01 00:06:00       NaN     4     4    306

In [7]:
# for i in df_buy["user_id"].values:
#     time_end=df_buy.ix[df_buy["user_id"]==i,'time']
#     time_start=time_end-15

# import datetime 
# # df_buy["time"]
# print(df_02.index)
# # df_02=df_02.set_index([df_02.index,df_02['time']],drop=False)
# df02=df_02.set_index([df_02['time']],drop=False)

In [7]:
df02.head()

,user_id,sku_id,time,model_id,type,cate,brand
time,,,,,,,
2016-01-31 23:59:02,266079.0,138778,2016-01-31 23:59:02,NaN,1,8,403
2016-01-31 23:59:03,266079.0,138778,2016-01-31 23:59:03,0.0,6,8,403
2016-01-31 23:59:07,200719.0,61226,2016-01-31 23:59:07,NaN,1,8,30
2016-01-31 23:59:08,200719.0,61226,2016-01-31 23:59:08,0.0,6,8,30
2016-01-31 23:59:08,263587.0,72348,2016-01-31 23:59:08,NaN,1,5,159

In [6]:
import datetime
# start=datetime.datetime.strptime('2016-02-01','%Y-%m-%d')
# end=datetime.datetime.strptime('2016-02-03','%Y-%m-%d')
# print(start,end)
# df02['time'].between_time('2016-02-01 00:00:00','2016-02-03 00:00:00')
delta_time=datetime.timedelta(days=-7)
df_buy["start_time"]=df_buy['time']+delta_time
# df_buy.head()
# mask = (df_buy['start_time'] >= '2016-02-01') & (df_buy['time'] <= '2016-02-08')
# df_buy.loc[df_buy['start_time'] >= '2016-02-01'].shape[0]

/Users/xiaolin/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
# mask = (df_buy['start_time'] >= '2016-02-01') & (df_buy['time'] <= '2016-02-08')
# df_buy.loc[df_buy['start_time'] >= '2016-02-01'].shape[0]
df_buy

,user_id,sku_id,time,model_id,type,cate,brand,sart_time,start_time
351,269365.0,166345,2016-02-01 00:01:00,NaN,4,9,306,2016-01-25 00:01:00,2016-01-25 00:01:00
649,235443.0,36692,2016-02-01 00:02:00,NaN,4,4,174,2016-01-25 00:02:00,2016-01-25 00:02:00
980,247689.0,9112,2016-02-01 00:03:00,NaN,4,5,78,2016-01-25 00:03:00,2016-01-25 00:03:00
1719,273959.0,102034,2016-02-01 00:05:00,NaN,4,5,78,2016-01-25 00:05:00,2016-01-25 00:05:00
2153,226791.0,163550,2016-02-01 00:06:00,NaN,4,4,306,2016-01-25 00:06:00,2016-01-25 00:06:00
2877,301962.0,125188,2016-02-01 00:08:00,NaN,4,5,479,2016-01-25 00:08:00,2016-01-25 00:08:00
2881,246290.0,125188,2016-02-01 00:08:00,NaN,4,5,479,2016-01-25 00:08:00,2016-01-25 00:08:00
3210,280086.0,79616,2016-02-01 00:09:00,NaN,4,4,36,2016-01-25 00:09:00,2016-01-25 00:09:00
3211,280086.0,131300,2016-02-01 00:09:00,NaN,4,8,693,2016-01-25 00:09:00,2016-01-25 00:09:00
3213,280086.0,108328,2016-02-01 00:09:00,NaN,4,5,800,2016-01-25 00:09:00,2016-01-25 00:09:00
3568,301854.0,13891,2016-02-01 00:10:00,NaN,4,4,174,2016-01-25 00:10:00,2016-01-25 00:10:00
3569,301854.0,13891,2016-02-01 00:10:00,NaN,4,4,174,2016-01-25 00:10:00,2016-01-25 00:10:00
3572,284981.0,163680,2016-02-01 00:10:00,NaN,4,4,306,2016-01-25 00:10:00,2016-01-25 00:10:00
3926,301032.0,7199,2016-02-01 00:11:00,NaN,4,4,306,2016-01-25 00:11:00,2016-01-25 00:11:00
5328,226933.0,155223,2016-02-01 00:15:00,NaN,4,9,640,2016-01-25 00:15:00,2016-01-25 00:15:00
5576,207684.0,66968,2016-02-01 00:16:00,NaN,4,4,231,2016-01-25 00:16:00,2016-01-25 00:16:00
5850,245189.0,7199,2016-02-01 00:17:00,NaN,4,4,306,2016-01-25 00:17:00,2016-01-25 00:17:00
6089,264257.0,47408,2016-02-01 00:18:00,NaN,4,4,658,2016-01-25 00:18:00,2016-01-25 00:18:00
7970,205337.0,126623,2016-02-01 00:25:00,NaN,4,5,479,2016-01-25 00:25:00,2016-01-25 00:25:00
8883,209152.0,54934,2016-02-01 00:28:00,NaN,4,5,489,2016-01-25 00:28:00,2016-01-25 00:28:00
9446,213819.0,155223,2016-02-01 00:30:00,NaN,4,9,640,2016-01-25 00:30:00,2016-01-25 00:30:00
9977,297487.0,20218,2016-02-01 00:32:00,NaN,4,4,200,2016-01-25 00:32:00,2016-01-25 00:32:00
9979,297487.0,50705,2016-02-01 00:32:00,NaN,4,4,200,2016-01-25 00:32:00,2016-01-25 00:32:00
10186,298846.0,46906,2016-02-01 00:33:00,NaN,4,5,489,2016-01-25 00:33:00,2016-01-25 00:33:00
10484,233078.0,54209,2016-02-01 00:34:00,NaN,4,6,306,2016-01-25 00:34:00,2016-01-25 00:34:00
11152,260731.0,113675,2016-02-01 00:36:00,NaN,4,4,453,2016-01-25 00:36:00,2016-01-25 00:36:00
13463,303037.0,82103,2016-02-01 00:46:00,NaN,4,4,174,2016-01-25 00:46:00,2016-01-25 00:46:00
15489,280964.0,125188,2016-02-01 00:57:00,NaN,4,5,479,2016-01-25 00:57:00,2016-01-25 00:57:00
17252,216709.0,167923,2016-02-01 01:06:00,NaN,4,7,489,2016-01-25 01:06:00,2016-01-25 01:06:00
18554,245333.0,17429,2016-02-01 01:14:00,NaN,4,5,427,2016-01-25 01:14:00,2016-01-25 01:14:00
...,...,...,...,...,...,...,...,...,...
11417894,272469.0,94373,2016-02-29 22:25:00,NaN,4,4,885,2016-02-22 22:25:00,2016-02-22 22:25:00
11421775,202275.0,133121,2016-02-29 22:30:00,NaN,4,5,306,2016-02-22 22:30:00,2016-02-22 22:30:00
11422545,243025.0,14577,2016-02-29 22:31:00,NaN,4,8,677,2016-02-22 22:31:00,2016-02-22 22:31:00
11424262,243162.0,139840,2016-02-29 22:33:00,NaN,4,4,36,2016-02-22 22:33:00,2016-02-22 22:33:00
11425141,288923.0,149841,2016-02-29 22:34:00,NaN,4,5,306,2016-02-22 22:34:00,2016-02-22 22:34:00
11426970,203632.0,52343,2016-02-29 22:36:00,NaN,4,8,489,2016-02-22 22:36:00,2016-02-22 22:36:00
11426984,257331.0,152478,2016-02-29 22:36:00,NaN,4,8,306,2016-02-22 22:36:00,2016-02-22 22:36:00
11427917,268231.0,157850,2016-02-29 22:37:00,NaN,4,7,118,2016-02-22 22:37:00,2016-02-22 22:37:00
11427921,268231.0,116820,2016-02-29 22:37:00,NaN,4,9,813,2016-02-22 22:37:00,2016-02-22 22:37:00
11429763,292949.0,9159,2016-02-29 22:39:00,NaN,4,6,800,2016-02-22 22:39:00,2016-02-22 22:39:00
11433001,292050.0,56608,2016-02-29 22:43:00,NaN,4,6,165,2016-02-22 22:43:00,2016-02-22 22:43:00
11433768,286399.0,88764,2016-02-29 22:44:00,NaN,4,5,306,2016-02-22 22:44:00,2016-02-22 22:44:00
11433774,279603.0,69355,2016-02-29 22:44:00,NaN,4,8,800,2016-02-22 22:44:00,2016-02-22 22:44:00
11438347,269709.0,20719,2016-02-29 22:50:00,NaN,4,4,519,2016-02-22 22:50:00,2016-02-22 22:50:00
11440732,214912.0,79122,2016-02-29 22:53:00,NaN,4,6,51,2016-02-22 22:53:00,2016-02-22 22:53:00
11446139,244852.0,63846,2016-02-29 23:00:00,NaN,4,5,375,2016-02-22 23:00:00,2016-02-22 23:00:00
11446144,244852.0,160485,2016-02-29 23:00:00,NaN,4,6,728,2016-02-22 23:00:00,2016-02-22 23:00:00
11446145,302010.0,20077,2016-02-29 23:00:00,NaN,4,6,800,2016-02-22 23:00:00,2016-02-22 23:00:00
11447153,256150.0,162302,2016-02-29 23:01:00,NaN,4,4,519,2016-02-22 23:01:00,2016-02-22 23:01:00
11452069,264726.0,79636,2016-02-29 23:07:00,NaN,4,8,489,2016-02-22 23:07:00,2016-02-22 23:07:00
11453392,251985.0,122369,2016-02-29 23:09:00,NaN,4,6,235,2016-02-22 23:09:00,2016-02-22 23:09:00
11458620,288179.0,2378,2016-02-29 23:17:00,NaN,4,7,306,2016-02-22 23:17:00,2016-02-22 23:17:00
11459842,241597.0,52343,2016-02-29 23:19:00,NaN,4,8,489,2016-02-22 23:19:00,2016-02-22 23:19:00
11460546,276638.0,79636,2016-02-29 23:20:00,NaN,4,8,489,2016-02-22 23:20:00,2016-02-22 23:20:00
11463233,285637.0,165190,2016-02-29 23:24:00,NaN,4,4,800,2016-02-22 23:24:00,2016-02-22 23:24:00
11464511,256461.0,126092,2016-02-29 23:26:00,NaN,4,5,489,2016-02-22 23:26:00,2016-02-22 23:26:00
11470852,224347.0,137636,2016-02-29 23:36:00,NaN,4,5,800,2016-02-22 23:36:00,2016-02-22 23:36:00
11478541,300214.0,102335,2016-02-29 23:50:00,NaN,4,4,375,2016-02-22 23:50:00,2016-02-22 23:50:00
11480871,213442.0,48000,2016-02-29 23:54:00,NaN,4,6,489,2016-02-22 23:54:00,2016-02-22 23:54:00
11483928,228994.0,165190,2016-02-29 23:58:00,NaN,4,4,800,2016-02-22 23:58:00,2016-02-22 23:58:00

In [7]:
# mask = (df_buy['start_time'] >= '2016-02-01') & (df_buy['time'] <= '2016-02-08')
df_buy02=df_buy.loc[df_buy['start_time'] >= '2016-02-01']
df_buy02.head()

,user_id,sku_id,time,model_id,type,cate,brand,start_time
1944268,232340.0,20330,2016-02-08 00:01:00,NaN,4,5,306,2016-02-01 00:01:00
1946099,211031.0,39139,2016-02-08 00:14:00,NaN,4,7,306,2016-02-01 00:14:00
1947851,233827.0,33955,2016-02-08 00:24:00,NaN,4,5,375,2016-02-01 00:24:00
1947852,233827.0,64160,2016-02-08 00:24:00,NaN,4,6,232,2016-02-01 00:24:00
1949891,245130.0,76996,2016-02-08 00:36:00,NaN,4,7,489,2016-02-01 00:36:00

In [46]:
df_02.ix[(df_02["user_id"]==232340)&(df_02["sku_id"]==20330),:]

          user_id  sku_id                time  model_id  type  cate  brand
1217300  232340.0   20330 2016-02-04 19:45:36       NaN     1     5    306
1217301  232340.0   20330 2016-02-04 19:45:36       0.0     6     5    306
1217302  232340.0   20330 2016-02-04 19:45:36     216.0     6     5    306
1217303  232340.0   20330 2016-02-04 19:45:36     217.0     6     5    306
1217304  232340.0   20330 2016-02-04 19:45:36       NaN     1     5    306
1217429  232340.0   20330 2016-02-04 19:46:07      29.0     6     5    306
1217542  232340.0   20330 2016-02-04 19:46:38       NaN     1     5    306
1217543  232340.0   20330 2016-02-04 19:46:38      26.0     6     5    306
1217544  232340.0   20330 2016-02-04 19:46:38       NaN     1     5    306
1217642  232340.0   20330 2016-02-04 19:47:09      25.0     6     5    306
1217726  232340.0   20330 2016-02-04 19:47:40      27.0     6     5    306
1219109  232340.0   20330 2016-02-04 19:53:30       NaN     1     5    306
1219110  232340.0   20330 2016-02-04 19:53:30       NaN     1     5    306
1219369  232340.0   20330 2016-02-04 19:54:31      26.0     6     5    306
1219372  232340.0   20330 2016-02-04 19:54:31       NaN     1     5    306
1219373  232340.0   20330 2016-02-04 19:54:31     216.0     6     5    306
1219374  232340.0   20330 2016-02-04 19:54:31       NaN     1     5    306
1219375  232340.0   20330 2016-02-04 19:54:31     217.0     6     5    306
1219378  232340.0   20330 2016-02-04 19:54:31       0.0     6     5    306
1219472  232340.0   20330 2016-02-04 19:55:01      28.0     6     5    306
1253007  232340.0   20330 2016-02-04 21:42:02      25.0     6     5    306
1253008  232340.0   20330 2016-02-04 21:42:02       NaN     1     5    306
1253013  232340.0   20330 2016-02-04 21:42:02     217.0     6     5    306
1253014  232340.0   20330 2016-02-04 21:42:02       NaN     1     5    306
1253019  232340.0   20330 2016-02-04 21:42:02     216.0     6     5    306
1253023  232340.0   20330 2016-02-04 21:42:02       0.0     6     5    306
1525902  232340.0   20330 2016-02-05 22:47:57       NaN     1     5    306
1525904  232340.0   20330 2016-02-05 22:47:57       0.0     6     5    306
1525905  232340.0   20330 2016-02-05 22:47:57       NaN     1     5    306
1525906  232340.0   20330 2016-02-05 22:47:57     216.0     6     5    306
...           ...     ...                 ...       ...   ...   ...    ...
5501940  232340.0   20330 2016-02-18 00:28:47       NaN     1     5    306
5502180  232340.0   20330 2016-02-18 00:29:40       NaN     1     5    306
5502181  232340.0   20330 2016-02-18 00:29:40       NaN     1     5    306
5502182  232340.0   20330 2016-02-18 00:29:40     210.0     6     5    306
5502184  232340.0   20330 2016-02-18 00:29:40       NaN     1     5    306
5502185  232340.0   20330 2016-02-18 00:29:40       NaN     1     5    306
5502187  232340.0   20330 2016-02-18 00:29:40     210.0     6     5    306
5926720  232340.0   20330 2016-02-18 23:19:06     217.0     6     5    306
5926722  232340.0   20330 2016-02-18 23:19:06       0.0     6     5    306
5926723  232340.0   20330 2016-02-18 23:19:06     216.0     6     5    306
5926726  232340.0   20330 2016-02-18 23:19:06       NaN     1     5    306
5926727  232340.0   20330 2016-02-18 23:19:06       NaN     1     5    306
6639141  232340.0   20330 2016-02-20 16:53:56       NaN     1     5    306
6639142  232340.0   20330 2016-02-20 16:53:56      32.0     6     5    306
7228256  232340.0   20330 2016-02-21 20:40:58       NaN     1     5    306
7228261  232340.0   20330 2016-02-21 20:40:58       NaN     1     5    306
7228349  232340.0   20330 2016-02-21 20:41:08     216.0     6     5    306
7228350  232340.0   20330 2016-02-21 20:41:08       0.0     6     5    306
7228353  232340.0   20330 2016-02-21 20:41:08     217.0     6     5    306
7325406  232340.0   20330 2016-02-21 22:59:06      32.0     6     5    306
7325407  232340.0   20330 2016-02-21 22:59:06      32.0     6     5    306
7325408  232340.0   20330 2016-02-21 22:59:06       NaN     1     5    306
7882944  232340.0   20330 2016-02-22 23:37:49       NaN     1     5    306
7882951  232340.0   20330 2016-02-22 23:37:49       NaN     1     5    306
8195027  232340.0   20330 2016-02-23 18:55:32     216.0     6     5    306
8195032  232340.0   20330 2016-02-23 18:55:32       NaN     1     5    306
8195037  232340.0   20330 2016-02-23 18:55:32     217.0     6     5    306
8195038  232340.0   20330 2016-02-23 18:55:32       0.0     6     5    306
8195039  232340.0   20330 2016-02-23 18:55:32       NaN     1     5    306
8195410  232340.0   20330 2016-02-23 18:56:34      25.0     6     5    306

[186 rows x 7 columns]

In [8]:
#合并开始时间到全量2月份数据

df_02_new=pd.merge(df_02,df_buy02[["user_id","sku_id","start_time"]],how="left",on=["user_id","sku_id"]).drop_duplicates()
df_02_new.head()

,user_id,sku_id,time,model_id,type,cate,brand,start_time
0,266079.0,138778,2016-01-31 23:59:02,NaN,1,8,403,NaT
1,266079.0,138778,2016-01-31 23:59:03,0.0,6,8,403,NaT
2,200719.0,61226,2016-01-31 23:59:07,NaN,1,8,30,NaT
3,200719.0,61226,2016-01-31 23:59:08,0.0,6,8,30,NaT
4,263587.0,72348,2016-01-31 23:59:08,NaN,1,5,159,NaT

In [63]:
print(df_02_new.shape)

(8742163, 8)

In [61]:
df_02_buy_action=df_02_new.loc[df_02_new['time']>=df_02_new['start_time']].drop_duplicates() #去重
df_02_buy_action.head()

,user_id,sku_id,time,model_id,type,cate,brand,start_time
106300,211031.0,39139,2016-02-01 10:57:41,221.0,6,7,306,2016-02-01 00:14:00
106301,211031.0,39139,2016-02-01 10:57:41,NaN,1,7,306,2016-02-01 00:14:00
106303,211031.0,39139,2016-02-01 10:57:41,217.0,6,7,306,2016-02-01 00:14:00
106306,211031.0,39139,2016-02-01 10:57:41,216.0,6,7,306,2016-02-01 00:14:00
106308,211031.0,39139,2016-02-01 10:57:41,0.0,6,7,306,2016-02-01 00:14:00

In [52]:
# df_not_buy=df_02.ix[df_02["type"]!=4,:]
# print (df_not_buy.shape)
# delta_time=datetime.timedelta(days=-7)
# df_not_buy["start_time"]=df_not_buy['time']+delta_time

In [13]:

df_buy=df_02.ix[df_02["type"]==4,:]
print (df_buy.shape)
# dropfunc=lambda row:row[["user_id","sku_id"]] not in df_buy[["user_id","sku_id"]]
# df_02_not_buy= df_02[df_02.apply(dropfunc, axis=1)]
df_02_not_buy=df_02[~df_02[["user_id","sku_id","model_id","type","cate","brand"]].isin(df_buy[["user_id","sku_id"]])]

(11485, 7)

In [14]:
df_02_not_buy

           user_id    sku_id time  model_id  type  cate  brand
0         266079.0  138778.0  NaT       NaN     1     8    403
1         266079.0  138778.0  NaT       0.0     6     8    403
2         200719.0   61226.0  NaT       NaN     1     8     30
3         200719.0   61226.0  NaT       0.0     6     8     30
4         263587.0   72348.0  NaT       NaN     1     5    159
5         296130.0  103126.0  NaT       NaN     1     4    174
6         296130.0  103126.0  NaT       0.0     6     4    174
7         296130.0  103126.0  NaT       0.0     6     4    174
8         217892.0  137328.0  NaT     111.0     6     6    159
9         283139.0    4732.0  NaT       NaN     1     6    375
10        217892.0  137328.0  NaT     111.0     6     6    159
11        243907.0   27659.0  NaT       0.0     6     4    752
12        243907.0   27659.0  NaT      17.0     6     4    752
13        209278.0    6998.0  NaT       0.0     6     8    545
14        209278.0    6998.0  NaT       NaN     1     8    545
15        266079.0  138778.0  NaT       0.0     6     8    403
16        263587.0  127189.0  NaT       NaN     1     5    159
17        200719.0   61226.0  NaT      11.0     6     8     30
18        209278.0   24679.0  NaT       NaN     1     8    658
19        209278.0   24679.0  NaT       0.0     6     8    658
20        217567.0   22387.0  NaT       NaN     1     8     30
21        217567.0   22387.0  NaT       0.0     6     8     30
22        207684.0    4732.0  NaT       NaN     1     6    375
23        207684.0    4732.0  NaT       NaN     1     6    375
24        207684.0    4732.0  NaT       NaN     1     6    375
25        207684.0    4732.0  NaT       NaN     1     6    375
26        245959.0  145895.0  NaT       NaN     1     8    693
27        245959.0  145895.0  NaT       NaN     6     8    693
28        245959.0  145895.0  NaT       NaN     6     8    693
29        272629.0  107774.0  NaT       NaN     1    10     36
...            ...       ...  ...       ...   ...   ...    ...
11485394  263603.0  114890.0  NaT     216.0     6     9    640
11485395  278856.0  153390.0  NaT       0.0     6     7    157
11485396  300537.0   60111.0  NaT       NaN     1     4    890
11485397  247295.0    6998.0  NaT     217.0     6     8    545
11485398  278856.0  153390.0  NaT     211.0     6     7    157
11485399  278856.0  153390.0  NaT     218.0     6     7    157
11485400  263603.0  114890.0  NaT       NaN     1     9    640
11485401  263603.0  114890.0  NaT       0.0     6     9    640
11485402  224475.0    5505.0  NaT      27.0     6     8    214
11485403  224475.0   90294.0  NaT     216.0     6     8    214
11485404  224475.0   90294.0  NaT       0.0     6     8    214
11485405  224475.0    5505.0  NaT      27.0     6     8    214
11485406  224475.0   90294.0  NaT     217.0     6     8    214
11485407  213906.0  103132.0  NaT     217.0     6     8    545
11485408  213906.0  103132.0  NaT       0.0     6     8    545
11485409  271994.0   59175.0  NaT       0.0     6     8    545
11485410  271994.0   59175.0  NaT       0.0     6     8    545
11485411  213906.0  103132.0  NaT     217.0     6     8    545
11485412  213906.0  103132.0  NaT       0.0     6     8    545
11485413  213906.0  103132.0  NaT     216.0     6     8    545
11485414  271994.0   59175.0  NaT      27.0     6     8    545
11485415  213906.0  103132.0  NaT     216.0     6     8    545
11485416  271994.0   59175.0  NaT     218.0     6     8    545
11485417  213906.0  103132.0  NaT     216.0     6     8    545
11485418  213906.0  103132.0  NaT     217.0     6     8    545
11485419  213906.0  103132.0  NaT     216.0     6     8    545
11485420  301058.0   20869.0  NaT       NaN     2     9    630
11485421  213906.0  103132.0  NaT       0.0     6     8    545
11485422  213906.0  103132.0  NaT       0.0     6     8    545
11485423  213906.0  103132.0  NaT     217.0     6     8    545

[11485424 rows x 7 columns]

In [ ]:
df_02_not_buy_new=pd.merge(df_02_not_buy[["user_id","sku_id","model_id","type","cate","brand"]],df_02[["user_id","sku_id","time"]],how="left",on=["user_id","sku_id"]).drop_duplicates()
df_02_not_buy_new